html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.popup-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.popup-container__popup {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  max-width: 40rem;
  overflow: auto;
  background: #fff;
}
.popup-container__popup__figure {
  width: 100%;
}
.popup-container__popup__figure__img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  margin: 1rem 0;
}
.popup-container__popup__figure__title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.popup-container__popup__ingredients__title {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.popup-container__popup__ingredients__list {
  list-style: disc;
  list-style-position: inside;
  padding: 0.5rem;
}
.popup-container__popup__ingredients__list__item {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.popup-container__popup__instructions__text {
  text-align: justify;
  font-size: 2rem;
  line-height: 1.5;
}
.popup-container__popup__instructions__text::first-letter {
  font-size: 2.5rem;
  font-weight: bold;
}
.popup-container__popup__close {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 90%;
  color: red;
  font-size: 2rem;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(orange, #ffdb98);
  overflow: hidden;
}
.main__container {
  width: 100%;
  max-width: 40rem;
  height: 100vh;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px #000;
  padding: 1rem;
}
.main__container__form {
  position: relative;
  margin: auto;
  width: 80%;
  text-align: center;
  height: 10vh;
}
.main__container__form__form-control.active .main__container__form__form-control__icon {
  display: inline-block;
}
.main__container__form__form-control {
  position: relative;
  display: flex;
  align-items: center;
}
.main__container__form__form-control__input {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  outline: none;
  border: 0;
  border-bottom: solid 1px;
  padding: 0.5rem 0;
  transition: padding 0.3s linear, border 0.3s linear;
}
.main__container__form__form-control__input:focus {
  border-bottom: solid 3px;
  padding: 1rem 0;
}
.main__container__form__form-control__icon {
  display: none;
  font-size: 2rem;
  position: absolute;
  left: 90%;
}
.main__container__form__recommended-list.active {
  opacity: 1;
  pointer-events: all;
}
.main__container__form__recommended-list {
  position: absolute;
  display: block;
  opacity: 0;
  pointer-events: none;
  list-style: none;
  z-index: 1;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  top: 105%;
  left: 0;
  right: 0;
  max-height: 20rem;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.main__container__form__recommended-list__item {
  font-size: 1.5rem;
  padding: 1rem 0;
  cursor: pointer;
  text-align: center;
}
.main__container__form__recommended-list__item:hover {
  background: rgba(0, 0, 0, 0.3);
}
.main__container__favorites {
  width: 100%;
  height: 23vh;
  overflow: auto;
}
.main__container__favorites__title {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.main__container__favorites__favorites-list {
  display: flex;
  flex-wrap: wrap;
}
.main__container__favorites__favorites-list__item {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  padding: 0.5rem;
}
.main__container__favorites__favorites-list__item:hover .main__container__favorites__favorites-list__item__delete {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0) scale(0.8);
}
.main__container__favorites__favorites-list__item__img {
  display: block;
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
  border-radius: 50%;
  max-width: 100%;
  object-fit: cover;
}
.main__container__favorites__favorites-list__item__img:hover {
  transform: scale(1);
}
.main__container__favorites__favorites-list__item__delete {
  position: absolute;
  display: block;
  pointer-events: none;
  top: 0;
  left: 90%;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: red;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.main__container__recipes-list.active {
  display: block;
}
.main__container__recipes-list {
  display: none;
  list-style: none;
  width: 100%;
  max-height: 63vh;
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow: auto;
}
.main__container__recipes-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 100%;
  height: 40rem;
  margin: 1rem 0;
  box-shadow: 3px 3px 5px #000;
  cursor: pointer;
  transition: transform 0.3s linear;
}
.main__container__recipes-list__item:hover {
  transform: scale(0.95);
}
.main__container__recipes-list__item__header {
  flex: 4;
  pointer-events: none;
}
.main__container__recipes-list__item__header__img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.main__container__recipes-list__item__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  pointer-events: none;
}
.main__container__recipes-list__item__body__title {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-align: center;
}
.main__container__recipes-list__item__body__icon {
  position: absolute;
  pointer-events: all;
  top: 20%;
  left: 80%;
  transform: translate(-20%, -80%);
  font-weight: bold;
  display: inline-block;
  font-size: 5rem;
  padding: 0.5rem;
  border: 0;
  background: transparent;
  cursor: pointer;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 5px #000;
  border-radius: 50%;
}